# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Use simple arithmetic expressions.
* List common tools for data science.
* List common data science Libraries.

Some of the popular languages that Data Scientists use are: Lang =  
1. MatLab 
2. R 
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Matplotlib 
3. NumPy

|Data Science Tools|
|---------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes == 200
hours = minutes/60
hours

3.3333333333333335

## Auther
Joseph Clark